.home-container {
  background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 0.5fr 3fr 0.5fr 1fr;
  grid-template-rows: 3fr 0.4fr 6fr;
  grid-template-areas: "a b c j k" "d e f l m" "g h h h o";
}
.searchBar {
  grid-area: f;
}
.result-box {
  grid-area: h;
}
.searchBar {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: " x y z";
}

.english {
  grid-area: x;
}
.word {
  grid-area: y;
}
.search {
  grid-area: z;
}
.result-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(0.1fr, auto);
  grid-template-areas: "rb";
}

.backgroundImage {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 600px;
  z-index: 1;
}
.result-box {
  background-color: white;
  padding: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.meaning {
  padding: 2%;
}
.value {
  font-size: 30px;
  font-weight: 700;
  color: black;
  padding: 0;
}

.YourSearch {
  color: blue;
  font-style: italic;
  padding: 1%;
}
.ys {
  background-color: rgb(236, 222, 248);
}

.english {
  background-color: rgb(255, 209, 224);
  display: flex;
  justify-content: center;
  padding: 5%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.word {
  display: flex;
  width: 99%;
  background-color: azure;
  border: none;
  padding-left: 8px;
}
.search {
  background-color: rgb(93, 255, 255);
  border: none;
  padding: 5%;
  cursor: pointer;
}

.warning {
  background-color: rgb(251, 255, 255);
  height: 20px;
  width: 150px;

  font-size: 10px;
  font-weight: 500;
  padding-left: 20px;
}
/* ................................. */
/* @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,300&display=swap");
*/
/* ..................... */
.dropdown {
  margin-top: 5px;
  width: 200%;
  height: auto;
  background-color: white;
  box-shadow: rgb(122, 122, 128);
  overflow: hidden;
  overflow-y: auto;
  cursor: pointer;
  z-index: 2;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  font-weight: 500;
  position: relative;
  left: 100%;
}
.dropdown:empty {
  border: none;
}
.dropdown::-webkit-scrollbar {
  display: none;
}
div.dropdownrow:hover {
  background-color: rgb(222, 228, 228);
}

.dropdownrow {
  color: black;
  text-decoration: none;
  box-shadow: rgb(253, 253, 253);
  overflow: hidden;
  overflow-y: auto;
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
  padding: 5px;
}
input {
  width: 220px;
}
.search-inner {
  display: flex;
}
.click {
  height: 50px;
}
@media (max-width: 438px) {
  .home-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.02fr 4fr;
    grid-template-areas: "a" "d" "g";
  }
  .searchBar {
    grid-area: d;
    padding: 2%;
  }
  .result-box {
    grid-area: g;
    margin-left: 10%;
    margin-right: 10%;
  }
  .english {
    font-size: medium;
  }
  .searchBar {
    z-index: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "p s";
  }

  .english {
    display: none;
    grid-area: x;
    height: 8%;
  }
  .word {
    grid-area: p;
    width: 98%;
  }
  .search {
    grid-area: s;
  }
  .dropdown {
    position: relative;
    left: 10%;
    width: 70%;
  }
}
@media (min-width: 439px) and (max-width: 649px) {
  .home-container {
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.05fr 6fr;
    grid-template-areas: "a" "d" "g";
  }
  .searchBar {
    grid-area: d;
    padding: 2%;
  }
  .result-box {
    grid-area: g;
    margin-left: 10%;
    margin-right: 10%;
  }
  .english {
    font-size: medium;
  }
}
@media (min-width: 650px) and (max-width: 991px) {
  .home-container {
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 2.2fr 0.2fr 5fr;
    grid-template-areas: "a b c" "d e f" "g h i ";
  }
  .searchBar {
    grid-area: e;
  }
  .result-box {
    grid-area: h;
  }
}
@media (min-width: 992px) {
  .home-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr 3fr 0.5fr 1fr;
    grid-template-rows: 2.5fr 0.4fr 7fr;
    grid-template-areas: "a b c j k" "d e f l m" "g h h h o";
  }
  .searchBar {
    grid-area: f;
  }
  .result-box {
    grid-area: h;
  }
}
