.backgroundImage {
  display: flex;
  margin-top: 3rem;
  width: 84.25rem;
  height: 50rem;
  position: relative;
  z-index: 1;
}
.result-box {
  background-color: white;
  height: 420px;
  width: 1200px;
  z-index: 2;
  position: absolute;
  top: 35rem;
  margin-left: 70px;
  color: blueviolet;
}

/* search bar */
.searchBar {
  position: absolute;
  top: 25rem;
  left: 18rem;
  z-index: 2;
}

.english {
  background-color: rgb(255, 209, 224);
  padding: 25px 50px 25px 50px;
  float: left;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;

  /* position: absolute; 
        top: 30rem;
        left: 30rem; */
}
.word {
  display: flex;
  width: 420px;
  height: 71px;
  position: absolute;
  top: auto;
  left: 10.4rem;
  float: left;
  background-color: azure;
  border: none;
}
.search {
  position: absolute;

  left: 36.9rem;
  width: 150px;
  height: 73px;
  background-color: rgb(93, 255, 255);
  border: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.warning {
  background-color: rgb(251, 255, 255);
  height: 20px;
  width: 150px;
  position: absolute;
  top: 100px;
  font-size: 10px;
  font-weight: 500;
  padding-left: 20px;
}
/* ................................. */
/* @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,300&display=swap");
*/
/* ..................... */
.dropdown {
  position: absolute;
  top: 30rem;
  left: 30rem;
  margin-top: 1px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgb(122, 122, 128);
  overflow: hidden;
  overflow-y: auto;
  cursor: pointer;
  z-index: 2;
}
.dropdown::-webkit-scrollbar {
  display: none;
}
a:hover {
  background-color: lightgrey;
}
.dropdownrow {
  color: black;
  text-decoration: none;
  box-shadow: rgb(253, 253, 253);
  overflow: hidden;
  overflow-y: auto;
  cursor: pointer;
}
.click {
  height: 50px;
}
