/* nav bar */
.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  grid-template-areas: "a b c d e ";
}
.l1 {
  grid-area: a;
}
.l2 {
  grid-area: c;
}
.l3 {
  grid-area: d;
}
.l4 {
  grid-area: e;
}
nav {
  display: flex;
  background-color: rgb(8, 8, 51);
  width: auto;
  height: 2.5rem;
  justify-content: space-around;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  text-decoration: none;
  width: auto;
  font-size: medium;
}
.dic {
  margin-left: 2%;
}
@media (min-width: 992px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-template-areas: "a b c d e ";
  }
  .l1 {
    grid-area: a;
  }
  .l2 {
    grid-area: c;
  }
  .l3 {
    grid-area: d;
  }
  .l4 {
    grid-area: e;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "a c d e ";
  }
  .l1 {
    grid-area: a;
  }
  .l2 {
    grid-area: c;
  }
  .l3 {
    grid-area: d;
  }
  .l4 {
    grid-area: e;
  }
}
@media (max-width: 767px) {
  .navbar {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
    grid-template-areas: "a c d e ";
  }
  .l1 {
    grid-area: a;
  }
  .l2 {
    grid-area: c;
  }
  .l3 {
    grid-area: d;
  }
  .l4 {
    grid-area: e;
  }
  .nav-links {
    font-size: small;
  }
}
