/* headerBar */
.header {
  display: flex;
  justify-content: space-around;
  background-color: rgb(214, 214, 214);
  width: auto;
  height: 1.5rem;
  align-items: center;
}
.headerText {
  color: black;
  text-decoration: none;
  font-size: small;
}
/* nav bar */
nav {
  display: flex;
  background-color: rgb(8, 8, 51);
  width: auto;
  height: 2.5rem;
  justify-content: space-around;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  text-decoration: none;
  width: auto;
  font-size: medium;
}

/* backgroundImage */
.backgroundImage {
  display: flex;
  margin-top: 3rem;
  width: 84.25rem;
  height: 47.5rem;
  position: relative;
  z-index: 1;
}
/* grid */
/* .container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 4fr 1.2fr;
  grid-template-areas: "a a a" "b b b" "c c c";
}
.section1 {
  grid-area: a;
}
.section2 {
  grid-area: b;
}
.section3 {
  grid-area: c;
} */
