/* backgroundImage */

/* grid */
/* .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.3fr 4fr 1fr;
  grid-template-areas: "a a a" "b b b" "c c c" "d d d";
} */
/* .section0 {
  grid-area: a;
}
.section1 {
  grid-area: b;
}
/* .section2 {
  grid-area: b;
} */
/* .section3 {
  grid-area: d;
  
}  */
